#header {
    z-index: 10;
    position: relative;
    background-color: #101010;
    zoom: 1;
    user-select: none;
    height:42px;
}

#header .content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 61.25em;
    width: 100%;
    zoom: 1;
    position: relative;
    padding: 1px 0 0;
}

#header .left {
    padding-left: .625em;
}

#header .logo {
    float: left;
    margin: 6px 0 0;
    font-size: 30px;
    font-family: 'lato-black',Arial,sans-serif;
    color: #dbc068;
    text-decoration:none;
}